<!--=== Content Part ===-->
<br/>
<div class="container">
    <div class="row" ng-hide="requests.length > 0">
        {{status}}
    </div>
    <div class="row">
        <!--Order History Table-->
        <div class="panel panel-orange margin-bottom-40" ng-show="requests.length > 0">
            <div class="panel-heading">
                <h3 class="panel-title">Request History</h3>
            </div>
            <table class="table table-striped table-hover invoice-table fit-table">
                <thead>
                <tr>
                    <th>RequestID</th>
                    <th>Location</th>
                    <th>Destination</th>
                    <th>Start Date</th>
                    <th>Rent Duration</th>
                    <th>Vehicle</th>

                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="req in requests | orderBy:'orderId':true" ng-click="getOrder(req.orderRef)">
                    <td>{{req.orderId}}</td>
                    <td>{{req.location}}</td>
                    <td>{{req.whereToArea}}</td>
                    <td>{{req.reservationStartTime}}</td>
                    <td>{{req.rentDuration}} {{req.rentDurationUnit}}s</td>
                    <td class="capitalize">{{req.vehicleClass}} {{req.vehicleCategory}}</td>
                </tr>
                </tbody>
            </table>
        </div>
        <!--End Order History Table-->
    </div>
</div><!--/container-->
<br/>
<!--=== End Content Part ===-->