<!--=== Content Part ===-->
<br/>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <!--Requests Table-->
            <div class="panel panel-orange margin-bottom-40" ng-show="request">
                <div class="panel-heading">
                    <h3 class="panel-title">Butuh Mobil Sewa</h3>
                </div>
                <table class="table table-striped invoice-table">
                    <tbody>
                    <tr>
                        <th>Order ID</th>
                        <td>{{request.orderId}}</td>
                    </tr>
                    <tr>
                        <th>Status</th>
                        <td>{{request.status}}</td>
                    </tr>
                    <tr>
                        <th>Supir</th>
                        <td>{{request.driver}}</td>
                    </tr>
                    <tr>
                        <th>Dari</th>
                        <td>{{request.locationDetail}}, {{request.location}}</td>
                    </tr>
                    <tr>
                        <th>Menuju</th>
                        <td>{{request.whereToArea}}{{request.whereTo}}</td>
                    </tr>
                    <tr>
                        <th>Kapan</th>
                        <td>{{request.reservationStartTime}}</td>
                    </tr>
                    <tr>
                        <th>Selama</th>
                        <td>{{request.rentDuration}} {{request.rentDurationUnit}}s</td>
                    </tr>
                    <tr>
                        <th>Jenis Mobil</th>
                        <td>{{request.vehicleClass}} {{request.vehicleCategory}}</td>
                    </tr>
                    <tr ng-show="request.specialRequest">
                        <th>Special Request</th>
                        <td>{{request.specialRequest}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <!--End Requests Table-->
        </div>

        <div class="col-md-6">
            <!--Bid Form-->
            <div class="panel panel-orange margin-bottom-40" ng-show="request && !myQuote">
                <div class="panel-heading">
                    <h3 class="panel-title">Penawaran Terbaik Saya</h3>
                </div>
                <form class="reg-page-m" name="bidForm" ng-submit="placeBid()" role="form" novalidate>

                    <div class="clearfix"></div>

                    <div class="form-group">
                        <label for="contactPerson" class="control-label">Contact Person</label>
                        <input type="text" class="form-control margin-bottom-20" id="contactPerson" ng-model="quote.contactPerson" readonly required>
                    </div>

                    <div class="form-group well" ng-show="quote.driver==='withDriver'">
                        <label class="control-label">Keterangan</label>
                        Biaya Overtime (per jam): {{(vendor.advanced.driverHourlyOvertime||0)|currency:"Rp ":0}}<br/>
                        Uang makan supir per hari: {{(vendor.advanced.driverDailyAllowance||0)|currency:"Rp ":0}}
                    </div>

                    <div class="form-group" ng-show="quote.driver==='withoutDriver'">
                        <label for="inputPickUpLocation" class="control-label">Car Pick-Up Location</label>
                        <textarea class="form-control margin-bottom-20" id="inputPickUpLocation" ng-model="quote.pickUpLocation" ng-minlength="3" rows="3" placeholder="Pick-up Address & Contact"></textarea>
                    </div>

                    <div class="form-group">
                        <label class="control-label">Mobil yang saya tawarkan</label>

                        <select ng-model="quote.carReference" ng-options="k as v.string for (k, v) in vehicles" ng-change="updateCarData()" required>
                            <option value="" disable selected>Pilih Mobil</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="baseRate" class="control-label">Rate Per {{quote.duration}}</label>
                        <input type="text" style="width: 100px" class="form-control" id="baseRate" ng-model="quote.dalkotRate" 
                            placeholder="{{quote.dalkotRate}}" required>    
                        
                    </div>

                    <div class="form-group">
                        <label for="baseTotal" class="control-label">Total Harga Sewa</label>
                        <input type="text" class="form-control margin-bottom-20" id="baseTotal" ng-model="quote.baseTotal" placeholder="{{quote.dalkotRate * request.rentDuration}}" required>
                    </div>

                    <div class="form-group">
                        <label for="inputNote" class="control-label">Informasi Tambahan</label>
                        <textarea class="form-control margin-bottom-20" id="inputNote" ng-model="quote.note" ng-minlength="3" rows="3" placeholder="Customer adalah raja, berilah kesan yang positif untuk mendapatkan mereka"></textarea>
                    </div>

                    <div class="row">
                        <div class="col-lg-4">
                        </div>
                        <div class="col-lg-4 text-right">
                            Your balance is {{myBalance|currency:"Rp ":0}}<br/><br/>
                            <button class="btn" type="submit" ng-disabled="bidForm.$invalid || !isEnoughBalance()">Send Quote</button>
                        </div>
                        <div class="col-lg-4">
                        </div>
                    </div>
                </form>
            </div>
            <!--End Bid Form-->
        </div>


        <div class="col-md-6">
            <!--Previous Bid-->
            <div class="panel panel-orange margin-bottom-40" ng-show="request && myQuote">
                <div class="panel-heading">
                    <h3 class="panel-title">Submitted Quote for Request# {{request.orderId}}</h3>
                </div>
                <form class="reg-page-m" name="bidForm" role="form" novalidate>

                    <div class="clearfix"></div>
                    <i>Quote sent out on {{myQuote.quoteTime}}</i>
                    <br/>

                    <div class="form-group">
                        <label class="control-label">Company Name</label>
                        <input type="text" class="form-control margin-bottom-20" ng-model="myQuote.company" readonly>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Contact Person</label>
                        <input type="text" class="form-control margin-bottom-20" ng-model="myQuote.contactPerson" readonly>
                    </div>

                    <div class="form-group">
                        <label class="control-label">Company Email</label>
                        <input type="text" class="form-control margin-bottom-20" ng-model="myQuote.email" readonly>
                    </div>

                    <div class="form-group">
                        <label class="control-label">Company Phone</label>
                        <input type="text" class="form-control margin-bottom-20" ng-model="myQuote.phone" readonly>
                    </div>

                    <div class="form-group well" ng-show="myQuote.driver==='withDriver'">
                        Driver hourly overtime: {{(myQuote.driverHourlyOvertime||0)|currency:"Rp ":0}}<br/>
                        Driver daily allowance: {{(myQuote.driverDailyAllowance||0)|currency:"Rp ":0}}
                    </div>

                    <div class="form-group" ng-show="myQuote.driver==='withoutDriver'">
                        <label class="control-label">Car Pick-Up Location</label>
                        <textarea class="form-control margin-bottom-20" ng-model="myQuote.pickUpLocation" ng-minlength="3" rows="3" readonly></textarea>
                    </div>

                    <div class="form-group">
                        <label class="control-label">Car offered</label>
                        <input type="text" class="form-control margin-bottom-20" ng-model="myQuote.vehicleString" readonly>
                    </div>

                    <div class="form-group">
                        <label class="control-label">Base Rate</label>
                        <input type="text" class="form-control margin-bottom-20" ng-model="myQuote.baseRate" readonly>
                        <label class="control-label">Base Rate Unit</label>
                        <input type="text" class="form-control margin-bottom-20" ng-model="myQuote.baseRateUnit" readonly>
                    </div>

                    <div class="form-group">
                        <label class="control-label">Base Total</label>
                        <input type="number" min="0" class="form-control margin-bottom-20" ng-model="myQuote.baseTotal" readonly>
                    </div>

                    <div class="form-group">
                        <label class="control-label">All-inclusive Price</label>
                        <input type="number" min="0" class="form-control margin-bottom-20" ng-model="myQuote.allInPrice" readonly>
                    </div>

                    <div class="form-group">
                        <label class="control-label">Note</label>
                        <textarea class="form-control margin-bottom-20" ng-model="myQuote.note" ng-minlength="3" rows="3" readonly></textarea>
                    </div>

                </form>
            </div>
            <!--End Previous Bid Form-->
        </div>

    </div>
</div><!--/container-->
<br/>
<!--=== End Content Part ===-->