<!--=== Content Part ===-->
<br/>
<div class="container">
    <div class="row" ng-hide="requests">
        {{status}}
    </div>
    <!--<div class="row">-->
        <!--Requests Table-->
        <div class="panel panel-orange margin-bottom-40" ng-show="requests">
            <div class="panel-heading text-center">
                <h3 class="panel-title">All Users</h3>
            </div>
            <table class="table table-striped table-hover invoice-table fit-table">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Company</th>
                    <th>Email</th>
                    <th>Phone</th>
                    <th>Mode</th>
                    <th># Orders</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="val in requests | orderBy:'name':true" ng-click="">
                    <td>{{val.name}}</td>
                    <td>{{val.companyName}}</td>
                    <td>{{val.email}}</td>
                    <td>{{val.phone}}</td>       
                    <td>{{val.mode}}</td>   
                    <!--td>{{val.quotes | getNumQuotes:this}}</td-->
               
                </tr>
                </tbody>
            </table>
        </div>
        <!--End Requests Table-->
    <!--</div>-->
</div><!--/container-->
<br/>
<!--=== End Content Part ===-->